
{% if all_skills %}
  <h3>Here are all skills for workers You are searching for: </h3>
  <ul>
    {% for sk in all_skills %}
      <li><a href="{% url 'worker:skillDetail' sk.skill_name%}">{{ sk.skill_name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h3>You don't have any skills</h3>
{% endif %}





{% if all_cities %}
  <h3>Here are all cities we have data of: </h3>
  <ul>
    {% for ct in all_cities %}
      <li><a href="{% url 'worker:cityDetail' ct.city_name%}">{{ ct.city_name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h3>You don't have any cities</h3>
{% endif %}